[2017-08-10 11:09] romankh3 opened #10 "Runnable file is missed."
Runnable file, which is the part of the expected deliverables, is missed.

[2017-08-10 11:10] romankh3 opened #11 "[BUG] Rectangles can overlap and be included one-into-one."
Rectangles can overlap and be included one-into-one. This behavior leads to some garbage on the resulting image.

Desired effect: merge rectangles which included one-into-one to one rectangle.

[2017-08-10 11:10] romankh3 opened #12 "[IMPROVEMENT] Improving Algorithm."
The algorithm works with pixels, rather than areas/rectangles, so it is pretty slow and resources consuming.

[2017-08-10 12:42] romankh3 opened #13 "Improve UI."
Now UI is showing the only result of the image.

desired effect:
1. show two images, which is comparing.
2. add button `compare`
3. show resulting image.

[2017-09-21 10:29] romankh3 commented on #10
Runnable file was added in #15

[2017-09-21 10:29] #10 closed

[2017-09-27 20:12] elenastepochkina opened #16 "а на маке это должно работать?"

[2017-09-27 20:14] romankh3 commented on #16
Не пробовал на маке.
Запускал все на Ubuntu 16.04.
А в чем проблема？

[2018-02-25 11:07] romankh3 commented on #16
Did all steps as it was described in README.md and All is working on MacOS as well as on Ubuntu.

[2018-02-25 11:07] #16 closed

[2018-04-06 19:24] Dgotlieb opened #17 "StackOverFlow error"
Hi,
Whenever I use an image that is not small, I'm getting a StackOverFlow error on the recursion.
Any ideas? thoughts?

Thanks.

[2018-04-06 19:35] romankh3 commented on #17
Hi,
Could you provide images? I don't not for sure what's going on, nevertheless, I could debug it.

[2018-04-06 19:41] Dgotlieb commented on #17
Hi,

Thanks for the quick answer..
[https://ibb.co/jwP7wc
https://ibb.co/mEW99x](url)

[2018-04-07 07:08] romankh3 commented on #17
they don't exist.
<img width="861" alt="2018-04-07 10 07 40" src="https://user-images.githubusercontent.com/16310793/38452359-8f4c222e-3a4b-11e8-9d87-1841fe92d2ff.png">

[2018-04-07 07:11] Dgotlieb commented on #17
Hi,
Sorry for the overhead..
The links work, but you will need to use link text rather than link address.
For some reason, github breaks the reference of the link.
Thanks

[2018-04-07 19:49] romankh3 commented on #17
understood!
I tried to use this images and got the same... I will think about it, thanks for this case.
If you get how to do it - create Pull Request with updates from `master` branch.

[2018-04-09 06:06] Dgotlieb commented on #17
Hi,
I was able to reproduce in two scenarios:
1. Image format was **.jpg** and not **.png**
2. Threshold value was high.

Still no clue on how to fix it..

[2018-04-09 18:32] romankh3 commented on #17
I think I found an issue.
`b1` and `b2` have different bit color. b1 has 8-bit color, b2 has 32-bit color.
That's why we've got all values of the `matrix` are `1`.

[2018-04-09 18:41] romankh3 commented on #17
Fixed.
Thanks for this case.

[2018-04-09 18:41] #17 closed

[2018-06-23 00:25] dee-y opened #20 "Logo proposal"
Hello @romankh3, i am a graphic designer. I would like to know if you would be interested in me making a logo for this project. If you would have me, i would make a logo for you, and it's free.

[2018-06-23 03:50] romankh3 commented on #20
Hello, @dee-y.
It's an interesting proposal for my project, the logo can make it better.
But I didn't get, why do you want to do it?

[2018-06-23 11:31] dee-y commented on #20
Lolz oh, just cause i love contributing to open source projects. Kind of a
life goals thing...

On Sat, Jun 23, 2018, 4:50 AM Roman Beskrovnyi <notifications@github.com>
wrote:

[2018-06-25 02:34] alexbai326 opened #21 "StackOverflowError when compared 2 images with a little big different area."
Hello @romankh3
I got a Exception:
`Exception in thread "main" java.lang.StackOverflowError
	at ua.comparison.image.ImageComparison.joinToRegion(ImageComparison.java:110)`
when compared 2 images with a little big different area.
 Image resolution of both are : 1920 * 931,
as attached
image1:
![baidu1](https://user-images.githubusercontent.com/25541267/41827666-2784a8e0-7863-11e8-9c83-fbb0425a827c.

[2018-06-25 05:14] romankh3 commented on #21
I saw this exception. the issue was closed (#17).
I'll check it again.

[2018-06-25 05:32] romankh3 commented on #21
@alexbai326, Could you please provide original images? Sizes of these provided images are different. (30kb and 150 kb).

[2018-06-25 05:58] alexbai326 commented on #21
sorry for the previous images are compressed
image1:
![baidu1](https://user-images.githubusercontent.com/25541267/41832693-9c860910-787f-11e8-999b-38981e714ebe.png)
image2:
![baidu2](https://user-images.githubusercontent.com/25541267/41832707-ac4470a8-787f-11e8-9051-973acf7d1e65.png)

[2018-06-25 06:07] romankh3 commented on #21
@alexbai326, I've got the same as you. I'll see. I think it could be something with `bit color`.
Image1 has 32-bit color.
Image2 has 24-bit color.
I thought I fixed it in #17. Need to think about it.
Also, these images the same sizes as they were before(30kb and 150 kb).

You're free to provide your own solution if you have it.
At the same time, I'll see what I can do.

[2018-06-25 06:07] alexbai326 commented on #21
Both are original images. Image2 was edited base on image1.
And their resolution  are the same: 1920 * 931.
![compare](https://user-images.githubusercontent.com/25541267/41832974-0b0f9030-7881-11e8-974e-562ec153b1bf.png)

[2018-06-25 06:12] romankh3 commented on #21
In my test images, which I'm using, sizes very similar(57.35Kb and 57.97Kb).
For the first time try to avoid changing sizes.

I will see this example.

[2018-06-27 02:33] dee-y commented on #20
Hi @romankh3, i came up with these two ideas, do you like any of them? other ideas are also welcomed...
![image comparison-01](https://user-images.githubusercontent.com/36637989/41949799-da405f9e-79ba-11e8-8cd4-0af3ac36567e.jpg)

[2018-06-27 02:35] dee-y commented on #20
i tried to present the comparison indicator with the red outline in the first logo, then the "I" and "C" inside for image comparison.

[2018-06-27 04:09] kremenec commented on #21
I've got the same as @alexbai326 mention.

[2018-06-27 04:16] romankh3 commented on #20
Hi, @dee-y !
I like the second logo.
<img width="470" alt="2018-06-27 7 12 01" src="https://user-images.githubusercontent.com/16310793/41952689-f008b622-79d9-11e8-8907-0232624fbf45.png">

[2018-06-27 04:16] romankh3 commented on #20
Also, I have the idea to put something changes into the red rectangle. Two images near and red rectangle, which show the difference.
what do you think about it?

[2018-06-27 08:33] romankh3 commented on #20
@dee-y, the last logo looks very-very good. I like it!
Maybe little mark with the size of the rectangle. I think size could be smaller. What do you think?
<img width="343" alt="2018-06-27 11 26 55" src="https://user-images.githubusercontent.com/16310793/41962196-1375c82a-79fd-11e8-8791-54c18244e4b9.png">

[2018-06-27 12:15] dee-y commented on #20
Hello @romankh3 i have adjusted the rectangle here

![image comparison 1](https://user-images.githubusercontent.com/36637989/41973027-a965090a-7a0b-11e8-922b-0fb4b4e47eb8.jpg)

Do i have the go ahead to make a pull request with the transparent version? as well as export all necessary editable formats for you?

[2018-06-27 13:05] romankh3 commented on #20
@dee-y, Yes, You do.

[2018-06-27 16:06] dee-y commented on #20
Hello @romankh3, i have created the pull request on here https://github.com/romankh3/image-comparison/pull/22

you can download the full editable versions of the logo files here from google drive link https://drive.google.com/drive/folders/1ATotqeduNWTT4mDRHBPnh21XVJQ9KRlh?usp=sharing

i also created a favicon version of the logo which is attached to the pull request in case you might need it.

He

[2018-06-27 16:14] romankh3 commented on #20
Hello, @dee-y !
You've done great work!
Thank you for your time.

[2018-06-27 18:02] romankh3 commented on #20
Logos've added to the project.

[2018-06-27 18:02] #20 closed

[2018-10-02 08:17] gao2q commented on #21
me too. the same bug.

[2018-10-17 11:45] pvarenik opened #25 "Diff saving destination is incorrect"
Hi, there is a mistake in _compareImages_ method (https://github.com/romankh3/image-comparison/blob/master/src/main/java/ua/comparison/image/ImageComparison.java#L120)

saveImage(Files.createTempFile("image-comparison", ".png" ).toFile(), outImg );

but should be something like

saveImage(this.destination, outImg );

[2018-10-17 12:31] pvarenik commented on #25
I've created PR https://github.com/romankh3/image-comparison/pull/26

[2018-10-17 12:31] romankh3 commented on #25
Hi, @pvarenik.
Feel free to make changes and offer them via Pull-Request.

[2018-10-17 13:20] romankh3 commented on #25
Merged changes.

[2018-10-17 13:20] #25 closed

[2018-10-23 17:51] apathan123 opened #30 "comparImage method is not visible"
Hi,

I was going through the codebase and noticed that the below method
      _ImageComparison.compareImages() throws IOException_
is not exposed as public. Is there a specific reason. As per the code example, this may not work

_class Example {
    public static void main( String[] args ) {
        // load the images to be compared
        BufferedImage image1 = ImageIO.read( new File( "image1.pn

[2018-11-09 19:08] romankh3 commented on #30
I left this issue in my notifications.  I’ll see as soon as it possible. I don’t see any reasons to stay it private.
By the way, if you want you can create PR for thi purpose. Contributing allows.

[2018-11-09 20:39] romankh3 commented on #30
@apathan123 thanks for your attention.
Updated access to `public`.

[2018-11-09 20:39] #30 closed

[2018-11-12 07:53] pvarenik commented on #21
@romankh3 maybe in future, I haven't enough time now.

[2018-11-12 11:11] romankh3 commented on #21
@pvarenik, I see, it's a good reason, I closed your PR as not completed and worried about it.
Have a nice day.

[2019-03-14 10:06] romankh3 opened #32 "Adding default Rectangle to the list of the rectangles"
For some reason, the algorithm has added the default value for one of the rectangles in the list of them.

The first idea is to skip them, but it could be a more important problem with it.
That's why we should investigate it and resolve this bug.
![Screenshot_28](https://user-images.githubusercontent.com/16310793/54348571-ff3d1800-4651-11e9-90e5-0d016b27e569.png)

[2019-03-15 10:17] romankh3 opened #33 "[FEATURE] add publishing the project"

[2019-03-15 10:19] romankh3 opened #34 "Add RELEASE_NOTES.md file and fix the versioning."

[2019-03-15 10:35] #34 closed

[2019-03-15 10:36] romankh3 commented on #34
Issue was successfully merged to master branch.

[2019-03-15 13:05] romankh3 opened #37 "[IMPROVEMENT] refactor README.md"
Make README.md more understandable for people.
How can it be used?
How to contribute to?
How could it be interesting for someone?

Should be added Usage line.
Should be added Example line.

[2019-03-15 14:58] Markaleth commented on #21
Issue is still occurring. Any news?

[2019-03-15 15:07] romankh3 commented on #21
@Markaleth, hello.
The issue still open. Week ago I started to do with the project again, so I want to do it.
This issue has a high priority. It should be researched. If you have some ideas - welcome.

[2019-03-15 15:15] pvarenik commented on #21
I created a PR for it https://github.com/romankh3/image-comparison/pull/28
but there should be added tests. The main sense of the bug that we check every pixel around the current check point. We should check only points that will be checked after current.
now:
[code]
after
[code]

[2019-03-15 15:52] romankh3 commented on #21
@pvarenik, #28 was closed because of the reason, that it wasn't ready for merging. It should have prepared.

[2019-03-15 17:02] romankh3 opened #38 "Remove ALL test resources from main/resources package"

[2019-03-15 17:05] romankh3 opened #39 "Add the new ability of the Graphics."
- Add more options to drow changed rectangles.
- add setter for the color of the rectangle
- etc

[2019-03-15 17:31] #38 closed

[2019-03-15 17:33] romankh3 commented on #21
@pvarenik thank you for an idea of the problem.
@alexbai326, @Markaleth issue has successfully resolved.

[2019-03-15 17:33] #21 closed

[2019-03-15 17:34] romankh3 commented on #12
Some part of improving the algorithm was added in #40.

[2019-03-16 17:52] romankh3 opened #41 "Add Pom.xml"
To make publishing easier, I’d like to move it to maven. I won’t so hard.

[2019-03-16 18:07] #41 closed

[2019-03-16 18:07] romankh3 commented on #33
To make publishing easier, I’d like to move it to maven. I won’t so hard.

[2019-03-17 10:00] romankh3 commented on #12
This issue related to #11.

[2019-03-19 12:47] romankh3 opened #42 "Move to Maven build tool"
Move project to maven build tool to make easier publish the project to JCentral

[2019-03-20 08:11] romankh3 opened #43 "Added extra overlapping based on fixing #21 bug."

[2019-03-21 21:20] SmashSide opened #44 "Bug with overlapping rectangles. [Dublicate #43]"
I saw the result of the solution of the bug #21. Do you se the result of the comparing? It’s not appropriate. It made a lot of the rectangles which are overlap each other.

[2019-03-23 08:01] romankh3 commented on #12
Add new test files with large size and test them. Check performance.

[2019-03-25 15:52] romankh3 opened #45 "Improve Code quality"

[2019-03-28 12:07] romankh3 commented on #13
Closed as no needed

[2019-03-28 12:07] #13 closed

[2019-04-03 11:18] #44 closed

[2019-04-03 11:19] #32 closed

[2019-04-03 11:19] romankh3 commented on #32
Was implemented in #36

[2019-04-03 11:33] romankh3 opened #46 "Move JFrame to test code"
JFrame must be moved to test codebase as unneeded.

[2019-04-03 11:40] #46 closed

[2019-04-08 07:16] romankh3 commented on #45
resolved in #48

[2019-04-08 07:16] #45 closed

[2019-04-08 07:26] romankh3 opened #50 "Check all the steps for Usage."
**Is your feature request related to a problem? Please describe.**
To be sure, that **Usage** part works as expected.

**Describe the solution you'd like**
go throw these guidelines and.

[2019-04-08 13:23] romankh3 opened #52 "Add more checking services for project"
Add more checking services for a project to make the quality of the `image-comparison` higher.

[2019-04-09 08:12] romankh3 opened #53 "[FEATURE] add demo project for using as a library."

[2019-04-09 08:21] romankh3 opened #54 "[FEATURE] create Rectangle API for using it as separated value"
The main idea is to use all the features which were written for the Rectangle class.

[2019-04-09 08:25] romankh3 opened #55 "[FEATURE] Add Point(x, y) for using in Rectangles"
use Point(x, y) instead of using minX, minY, maxX, maxY.

[2019-04-09 11:29] romankh3 opened #56 "[IMPROVEMENT] READ"
** Describe your idea of the improvement **
https://support.smartbear.com/testcomplete/docs/testing-with/checkpoints/regions/how-image-comparison-works.html

[2019-04-09 11:29] romankh3 commented on #56
https://www.geeksforgeeks.org/image-processing-java-set-14-comparison-two-images/

[2019-04-10 10:12] #56 closed

[2019-04-10 10:13] romankh3 commented on #37
Improved

[2019-04-10 10:13] #37 closed

[2019-04-10 10:30] romankh3 commented on #43
added in #57

[2019-04-10 10:30] #43 closed

[2019-04-10 10:30] romankh3 commented on #11
added in #57

[2019-04-10 10:30] #11 closed

[2019-04-10 11:17] romankh3 commented on #42
Will be added in #33

[2019-04-10 11:17] #42 closed

[2019-04-10 11:17] romankh3 commented on #33
Use it: Move to Maven build tool

[2019-04-10 12:14] romankh3 opened #58 "[FEATURE] Possibility to exclude certain parts of the image from the comparison"
It should be possible to exclude certain parts of the image from the comparison, for example, a clock or dynamically generated number. They will be provided by the caller as a list of
rectangles to exclude.

[2019-04-10 12:30] romankh3 opened #59 "[IMPROVEMENT] Change Rectangle.merge() method"
** Describe your idea of the improvement **
The idea is to update the logic of the `merge` method to merge it in `this` object and doesn't provide a new one.

[2019-04-10 12:39] romankh3 opened #60 "[IMPROVEMENT]"
** Describe your idea of the improvement **
This if can be removed as useless.

[2019-04-10 15:41] TobseF opened #62 "[IMPROVEMENT] Use it in a JUnitTest - And generate a ComparisonResult instead of Images"
I wanted to compare a generated image with an approved one in a **JUnit test**. So if the images are equal we do not need to generate any files - because we already know they match. Only on a image mismatch I wan't to see my comparison image. In addition on big images with many changes, I need to ensure the time and memory consumption doesn't stress my test pipeline.

For this behavior I had to ch

[2019-04-10 15:43] TobseF opened #63 "[IMPROVEMENT] Deploy it to MAVEN"
To use this lib, it would be very handy to include it via Maven. Do you plan to release your lib in Maven?

[2019-04-10 18:16] romankh3 commented on #63
Hello, @TobseF. I have an issue(#33) related to it.
If you have time, feel free to contribute it.
Notice, that all the services related to code quality must work as expected(travis-ci, coverall, etc).
Please, see the comments in #33.
This is duplicate.

[2019-04-10 18:16] #63 closed

[2019-04-11 03:40] romankh3 commented on #62
Hello, @TobseF.
I understand your needs.

I like the ideas of adding `ComparisonResult`, `maximalDifferences' and `minimumRectangleSize`.

Let's talk more about the implementation of these ideas. My point is to save previous behavior.

`maximalDifferences` and `minimumRectangleSize` can be added as a configuration parameters for `ImageComparison` class the same as `threshold` variable.

changes in

[2019-04-13 10:25] romankh3 commented on #62
@TobseF, What do you think about it? You haven't answered yet.

Best regards,
Roman.

[2019-04-13 11:32] romankh3 commented on #33
updated packages in #65

[2019-04-15 10:18] romankh3 commented on #59
Useless in this logic

[2019-04-15 10:18] #59 closed

[2019-04-15 10:22] romankh3 commented on #53
Added in: https://github.com/romankh3/usage-image-comparison

[2019-04-15 10:26] romankh3 opened #66 "[IMPROVEMENT] Update Issue labels related to the newest projects"
** Describe your idea of the improvement **
Labels of the issues have outdated. Newest projects, like [home-ecosystem](https://github.com/romankh3/usage-image-comparison), have modern and more informative labels.

[2019-04-15 10:28] #53 closed

[2019-04-15 18:55] romankh3 commented on #33
Publishing was successfully added to the `image-comparison` project.

[2019-04-15 18:55] #33 closed

[2019-04-16 15:33] romankh3 commented on #63
@TobseF, publishing added, you can use `2.1.0` version. See the barge in README.

[2019-04-16 16:10] #55 closed

[2019-04-16 16:16] #52 closed

[2019-04-16 16:20] #54 closed

[2019-04-16 16:24] romankh3 commented on #66
updated

[2019-04-16 16:24] #66 closed

[2019-04-16 17:14] romankh3 opened #68 "[FEATURE] Add ComparisonResult object for getting more context data"
Instead of the returning `BufferedImage` and save it to the system, it's better to see the composite object with images for comparing, result in the image, check the result.

Proposed objects:
[code]

It should change the API of the comparison.

[2019-04-16 17:20] romankh3 commented on #62
I decided to implement your ideas.

Thank you @TobseF for a good idea of the usage `image-comparison`.
Stay tuned on 2.2.0-Release project. I will create related issues and will do it asap.

Best regards,
Roman.

[2019-04-17 09:20] romankh3 opened #69 "[IMPROVEMENT] Add more test cases for comparing images"
**This is a good issue for newcomers**
The idea is to add more tests with comparing images.

*   Compare two images with the same sizes, but totally different
*   Compare two the same images(after adding ComparisonResult class)
*   etc

[2019-05-03 06:53] romankh3 opened #73 "[IMPROVEMENT] Move main(String[] args) from ImageComparison."
**This is a good issue for newcomers**

**Idea:**
main(String[] args) from ImageComparison must be moved out.
`main()` method needs for using `image-comparison` from command line.

For this purpose should be used another class, the name of this class is `Main`.

Also, should be updated tests.

[2019-05-03 14:35] romankh3 opened #74 "[BUG] remove static marker from threshold variable"
**Describe the bug**
The static `ImageComparison#threshold` can be changed for all the beans, which are using in the one application.
Add getter and setter for it and make it private.

[2019-05-03 14:51] romankh3 opened #75 "[IMPROVEMENT] Add API part for README.md"
** Describe your idea of the improvement **
to improve usage `image-comparison` we need to add `API` part for README file.

API will describe usage image comparison.

[2019-05-06 14:23] #74 closed

[2019-05-11 13:03] romankh3 commented on #73
@ak98neon added it into master in #77.

[2019-05-11 13:03] #73 closed

[2019-05-14 15:35] romankh3 opened #79 "Update README before Release with all the changes."

[2019-05-14 15:36] romankh3 opened #80 "Add two issues with the description after ComparisonResult will be added."

[2019-05-15 08:05] romankh3 opened #81 "[IMPROVEMENT] Configure branch rules."
** Describe your idea of the improvement **
Research and add rules for branches to improve the quality of the project.

[2019-05-16 06:46] codacy-bot opened #83 "[BUG] Avoid using equals() to compare against null"
### [Codacy](https://app.codacy.com/app/romankh3/image-comparison/commit?cid=359300665) detected an issue:
#### Message: `Avoid using equals() to compare against null`

#### Occurred on:
+ **Commit**:  7014c27c9da1d0c6afd751346ee0c18de129fb1a
+ **File**:    [src/test/java/com/github/romankh3/image/comparison/model/PointUnitTest.java](https://github.com/romankh3/image-comparison/blob/7014c27c9da1d0

[2019-05-16 06:48] codacy-bot opened #84 "[list-item-indent] Incorrect list-item indent: add 2 spaces"
### [Codacy](https://app.codacy.com/app/romankh3/image-comparison/commit?cid=359300665) detected an issue:
#### Message: `[list-item-indent] Incorrect list-item indent: add 2 spaces`

#### Occurred on:
+ **Commit**:  c9d2b424abf5e2eca3e4766a66bf5a4a6eccb2f0
+ **File**:    [CODE_OF_CONDUCT.md](https://github.com/romankh3/image-comparison/blob/c9d2b424abf5e2eca3e4766a66bf5a4a6eccb2f0/CODE_OF_CONDUCT

[2019-05-16 06:49] codacy-bot opened #85 "[list-item-spacing] Missing new line after list item"
### [Codacy](https://app.codacy.com/app/romankh3/image-comparison/commit?cid=359300665) detected an issue:
#### Message: `[list-item-spacing] Missing new line after list item`

#### Occurred on:
+ **Commit**:  40dffcf95548e174bbeba5107b657a0fcd8ef45e
+ **File**:    [README.md](https://github.com/romankh3/image-comparison/blob/40dffcf95548e174bbeba5107b657a0fcd8ef45e/README.md)
+ **LineNum**: [6](h

[2019-05-17 19:37] romankh3 commented on #62
Implementation moved to 3.3.0 version.

[2019-05-17 19:43] romankh3 opened #87 "[IMPROVEMENT] Implement `minimalRectangleSize` and `maximalDifferences`"
** Describe your idea of the improvement **
Implement part of the ideas from #62.

[2019-05-20 09:35] #68 closed

[2019-05-20 09:35] #87 closed

[2019-05-20 09:35] #80 closed

[2019-05-20 12:32] #81 closed

[2019-05-20 12:33] #83 closed

[2019-05-21 10:33] romankh3 commented on #50
Found bug in showing the default comparing.

[2019-05-21 10:45] romankh3 opened #89 "[BUG] NPE for default run from commandLine"
**Describe the bug**
NullPointerException throws in the case when running `jar` without arguments.

**To Reproduce**
Steps to reproduce the behavior:
1. Execute `gradlew jar` to get jar file.
2. Execute `java -jar image-comparison-3.0.0-SNAPSHOT.jar`
3. See error
[code]

**Expected behavior**
See the GUI view of the result of the default comparing `image1.png` and `image2.png`, which can be found

[2019-05-21 10:45] romankh3 commented on #50
created new [BUG](#89).

[2019-05-21 10:45] #50 closed

[2019-05-21 20:13] #69 closed

[2019-05-22 09:49] romankh3 commented on #87
Will be added in 3.0.0-Release version.

[2019-05-22 12:22] #62 closed

[2019-05-23 08:15] romankh3 opened #90 "[IMPROVEMENT] Refactor Commandline usage"
** Describe your idea of the improvement **
Provide refactoring Command line usage, to make it more usable.

[2019-05-23 08:52] romankh3 commented on #90
added in #91

[2019-05-23 08:52] #90 closed

[2019-05-28 09:07] #58 closed

[2019-05-28 09:12] romankh3 opened #95 "[IMPROVEMENT] add ability to pass excluded areas to the comparison."
** Describe your idea of the improvement **
The ability to exclude some areas was added in #93. That's why the next step is to provide the ability to pass areas from the clients:
1. It's from CommandLine
2. Add method for calculated areas based on image1 in ImageComparison class.

This is the issue which can be done by contributors.

[2019-05-29 12:38] #75 closed

[2019-05-29 18:50] romankh3 opened #96 "[IMPROVEMENT] Add ability to change rectangleLineColor"
** Describe your idea of the improvement **
Add the ability to change color for rectangle lines. For now, it's RED.

[2019-05-29 19:08] mrgoroua opened #97 "Add ignored area highlighting"
When user get coordinates and specifies plenty ignored regions there is not clear how to understnad whether coordinates was correct, or somethnig wrong with an app or code.

So that ignored areas highlightning at result picture would be a good idea to get it as one more investigation tool and understand that user's ignored rectangle's coordinates was correct and app correctly read them

[2019-05-29 19:33] mrgoroua opened #98 "[BUG] Ignored area was not actually ignored"
Ignored area was set at rectangle List but at the result image selected area was not excluded from comparison
[see image](https://pasteboard.co/IgZ6Sa7.png)

`@Test
    public void testNotEquals() throws IOException {
        File resultDestination = new File( "C:\\!automation\\git\\ehopperDevUI\\helperfiles\\receipts\\resultImage.png");

        File ExpectedCash = new File("C:\\!automation\\git\

[2019-05-29 20:37] romankh3 commented on #98
@mrgoroua, please, provide image1 and image2 as files to reproduce it.
You can share it here, in issue or comments.

[2019-05-29 20:38] romankh3 commented on #97
it's a good idea. I'll think about it.

[2019-05-30 08:54] mrgoroua commented on #98
![ActualCash](https://user-images.githubusercontent.com/14112575/58621263-a5073700-82d1-11e9-989f-1b8c01024c74.png)
![ExpectedCash](https://user-images.githubusercontent.com/14112575/58621264-a59fcd80-82d1-11e9-873a-193c4fcaf6cf.png)

[2019-05-30 10:14] mrgoroua commented on #98
Roman was it helpful?

[2019-05-30 11:22] romankh3 commented on #98
@mrgoroua I'm working on it.

[2019-05-31 12:05] mkytolai opened #99 "Add usability to getMask[IMPROVEMENT]"
Currently getMask only returns a single rectangle, it ignores nested rectangles.
I have an idea on how to expand the method, will probably submit it later today

[2019-05-31 12:27] romankh3 commented on #99
Hello, @mkytolai.
Have you seen this issue? (https://github.com/romankh3/image-comparison/issues/98)
it's the first feedback from the real user about excluded areas.

[2019-05-31 12:31] romankh3 commented on #99
it's duplicate of #95, is it?
If yes, please close this issue and comment in #95 .

[2019-05-31 16:14] mrgoroua commented on #98
Fixed

[2019-05-31 16:14] #98 closed

[2019-05-31 19:05] romankh3 opened #101 "[IMPROVEMENT] Add builder for ImageComparison"
** Describe your idea of the improvement **
Due to the adding new options for customing the `ImageComparison` object, I'd like to add a builder for it.

[2019-05-31 19:08] romankh3 opened #102 "[IMPROVEMENT] CommandLine Usage"
** Describe your idea of the improvement **
*   Add more options to the command line usage.
*   Refactor CommandLineUsage.

[2019-05-31 19:09] romankh3 opened #103 "[IMPROVEMENT] Provide Wiki page"
** Describe your idea of the improvement **
due to the growing project, WiKi page must be provided as well as new features.

[2019-05-31 19:41] romankh3 commented on #101
Or it can be changed by adding return `this` value for setters.

[2019-06-01 05:18] romankh3 opened #105 "[IMPROVEMENT] rename image1 and image2 to expected and actual images."
** Describe your idea of the improvement **
Based on the knowledge that this is comparing using for testing, the names of the images could be renamed:
**image1** -> **expectedImage**
**image2** -> **actualImage**

[2019-06-01 06:38] #101 closed

[2019-06-01 06:39] romankh3 commented on #97
added in #104. Will be available in `3.1.0` version.

[2019-06-01 06:39] #97 closed

[2019-06-01 08:42] romankh3 commented on #105
added in #107

[2019-06-01 08:42] #105 closed

[2019-06-01 08:52] romankh3 opened #108 "[IMPROVEMENT] Add POM for fixing `used by` problem"
** Describe your idea of the improvement **
Add `pom.xml` to ensure, that it can help with getting `used by` options in the project.

[2019-06-01 09:03] romankh3 commented on #108
fixed.

[2019-06-01 09:03] #108 closed

[2019-06-02 17:56] romankh3 opened #110 "[IMPROVEMENT] Add RELEASE_NOTES file"
** Describe your idea of the improvement **

[2019-06-02 19:18] #110 closed

[2019-06-03 04:04] romankh3 opened #112 "[IMPROVEMENT] add the ability to customize percentages level of difference"
** Describe your idea of the improvement **

[2019-06-03 11:57] mrgoroua opened #113 "RED (not equals) and GREEN (ignored) areas are not shown at result image at the same time"
Actual:
if there are several ignored rectangles was set and test has been failed because of defferences in other places -> only RED areas are shown at result image

Expected:
failed and ignored areas are shown simultaneously at result image

`@Test
    public void testNotEquals() throws IOException {

        File ExpectedCash = new File(".\\helperfiles\\receipts\\receipt1.png");
        File Actu

[2019-06-03 20:14] romankh3 commented on #113
@mrgoroua, added the fix for and published as `3.1.1` version.
Please, check and close the issue.

[2019-06-03 20:25] romankh3 opened #115 "[IMPROVEMENT] Research other image extentions"
** Describe your idea of the improvement **
`.png` is not one image extension. That's why we need to research: does `image-comparison` support other extensions or not?

[2019-06-04 07:13] romankh3 commented on #99
@mkytolai, please follow #95.

[2019-06-04 07:13] #99 closed

[2019-06-04 07:14] #84 closed

[2019-06-04 07:14] #85 closed

[2019-06-04 09:01] mrgoroua commented on #115
yeah, would be nice to have a raster pack support for .BMP, .TIF, .JPG, and .PNG.

not sure about gif

[2019-06-04 09:01] mrgoroua commented on #113
fixed

[2019-06-04 09:01] #113 closed

[2019-06-04 12:40] romankh3 commented on #115
There are 5 main formats in which to store images. Why would you choose one over another, and what are the differences?

1. TIFF (also known as TIF), file types ending in .tif

TIFF stands for Tagged Image File Format. TIFF images create very large file sizes. TIFF images are uncompressed and thus contain a lot of detailed image data (which is why the files are so big) TIFFs are also extremely fle

[2019-06-10 20:12] romankh3 commented on #115
added check that `jpg` format supports by `image-comparison` library.

[2019-06-12 09:01] romankh3 opened #117 "[IMPROVEMENT] Add ability to customize levelOfPixelDifference"
** Describe your idea of the improvement **
For now, it's hardcoded 10% and it's good to add the ability to customize it.

[2019-06-12 09:03] romankh3 opened #118 "[IMPROVEMENT] Add caching for isDifferentPixels method."
** Describe your idea of the improvement **
isDifferentPixels - a method which is using for many-many times, that's why the idea is to provide caching result for it.

Requirements - implement it without some 3rd party libraries.

[2019-06-12 09:05] romankh3 commented on #118
@mkytolai, it can be interesting for you!

[2019-06-15 17:29] romankh3 opened #119 "[IMPROVEMENT] Add simpleCompareImages() method"
** Describe your idea of the improvement **
to make it faster it's good to have the ability to exclude drawing rectangles with the differences.

[2019-06-24 09:38] romankh3 opened #121 "[IMPROVEMENT] Make javadoc great again"
** Describe your idea of the improvement **
Add all the Javadocs, which won't be added.

[2019-06-25 15:34] romankh3 commented on #39
added as a desktop-image-comparison

[2019-06-25 15:34] #39 closed

[2019-06-25 15:37] #117 closed

[2019-07-15 07:14] romankh3 commented on #119
It doesn't make faster as it expected. Move to a backlog.

[2019-07-15 07:15] #95 closed

[2019-07-15 07:15] #118 closed

[2019-07-30 14:46] #121 closed

[2019-07-30 14:46] #115 closed

[2019-08-04 19:14] #79 closed

[2019-08-09 02:33] lbingyan opened #128 "[BUG] Can not compare "10" and "11" in two images"
**Describe the bug**
I have two images, and the first one fill out the age field as "10" while the second one is "11", but the comparison result is passed.

here is my code
`

    imageComparison.setThreshold(5);
    imageComparison.getThreshold();

    imageComparison.setRectangleLineWidth(2);
    imageComparison.getRectangleLineWidth();

    imageComparison.setPixelToleranceLevel(0.005);
    ima

[2019-08-09 03:01] romankh3 commented on #128
Hello, @lbingyan.
Please, provide test images which are reproduced in this case.

Best regards,
Roman.

[2019-08-09 03:17] lbingyan commented on #128
Hi Roman,

here are two images:

![8297a509-682c-41c9-883f-3ada44804ede_actual](https://user-images.githubusercontent.com/43946927/62751677-267c0200-ba97-11e9-80e6-c098170d7d9c.png)
![a3f690ee-84de-4218-a1bc-d684603cd547_excepted](https://user-images.githubusercontent.com/43946927/62751682-2c71e300-ba97-11e9-967a-27e3fa12416f.png)

[2019-08-09 03:19] lbingyan commented on #128
I have a question, what does "MinimalRectangleSize" mean, the comparison minimal unit? I change the "imageComparison.setMinimalRectangleSize(100)" to "imageComparison.setMinimalRectangleSize(50);" and it works.

[2019-08-09 03:34] romankh3 commented on #128
`minimalRectangleSize` mean that the rectangles, which are fewer that this value - won't be counted in comparison.
Please, read it: https://github.com/romankh3/image-comparison#configurations

Best regards,
Roman.

[2019-08-09 03:49] lbingyan commented on #128
Thanks.

[2019-08-09 04:04] romankh3 commented on #128
if you any suggestions to improve `image-comparison` - welcome.
For example. the description of the configurations can be not clear for newcomers  or something else.

Best regards,
Roman,

[2019-08-09 04:04] #128 closed

[2019-08-09 04:24] #12 closed

[2019-08-15 18:10] aruna-rajapaksha-nzta opened #129 "[BUG] Throwing an IllegalArgumentException: -1"
**Describe the bug**
Exception in thread "main" java.lang.IllegalArgumentException: -1

**To Reproduce**
Steps to reproduce the behaviour:
1. Compare 2 images of the same size with differences using below version
<dependency>
      <groupId>com.github.romankh3</groupId>
      <artifactId>image-comparison</artifactId>
      <version>3.2.0</version>
    </dependency>

**Expected behaviour**
Output i

[2019-08-16 03:04] romankh3 commented on #129
Hello, @aruna-rajapaksha-nzta!
Please, provide images with which can reproduce this bug.

Best regards,
Roman

[2019-08-16 12:59] #89 closed

[2019-08-28 11:43] romankh3 commented on #129
@aruna-rajapaksha-nzta , move it to backlog until you provide more details.

[2019-09-02 08:46] #129 closed

[2019-09-19 19:25] romankh3 opened #132 "[FEATURE] Add logging to the project"
**Is your feature request related to a problem? Please describe.**
All the data need to be logged. That's why I think that the logging must be added to the image-comparison.

**Describe the solution you'd like**
The solution is to add `SLF4J` based on Log4j 2.* version.

**Describe alternatives you've considered**
Instead of the Log4J can be used Logback or even JUL(java.util.logging).
The point t

[2019-10-01 06:40] #112 closed

[2019-10-30 08:59] grigaman opened #134 "[BUG] If image is different in a line in 1 px, ComparisonState is always MATCH"
In version 3.3.0 the is a problem in populateRectangles.
If in second image there is additional line in one pixels, populateRectangles will not add rectangle for this line to results.
For example:
* Image 1: 50x50 all pixels are white
* Image 2: 50x50, and have black line 5, 24 - 44, 24
populateRectangles in this case will try calculate size and will get value 0 because 24-24 = 0, but it should re

[2019-10-31 08:09] romankh3 commented on #134
Hi @grigaman, I've got your point!
It's really a bug. Thanks for your catch.
I'm worried that for all the cases it will be added an extra one.

[2019-10-31 08:57] grigaman commented on #134
Also please look at my pool request which fix the issue.
About some imrovements:
At present the red rectangle is drawn over mismatched pixels (for example 1px line will change color to red one), may be it is better to change draw method and draw rectangle around rectangle of changes pixels. For example if border width is 1px, rectangle will be drawn on 1px before changed pixels: x-1, y-1, width -

[2019-10-31 09:27] romankh3 commented on #134
I saw your changes and left feedback for them.

[2019-11-01 09:43] grigaman opened #136 "[BUG] deepCopy method throws IllegalArgumentException on shared BufferedImage"
If pass BufferedImage which is get from some BufferedImage operation (for example getSubimage), deepCopy method thrown IllegalArgumentException. Example of exception:
`java.lang.IllegalArgumentException: Raster ByteInterleavedRaster: width = 202 height = 20 #numDataElements 3 dataOff[0] = 2 has minX or minY not equal to zero: -1 -1`

To fix this issue need to pass into copyData `image.getRaster().

[2019-11-01 11:18] romankh3 commented on #136
Your contributing is amazing!
Where do you use `image-comparison`?

[2019-11-01 11:46] romankh3 commented on #136
Thanks for your contribution!

[2019-11-01 11:46] #136 closed

[2019-11-04 09:04] #134 closed

[2019-11-04 09:22] romankh3 commented on #134
@grigaman, thanks for your contribution!

[2019-11-08 21:39] Hexronimo opened #138 "Add test for images with different jpeg-compression level"
Hello Roman!
Can you, please, add tests for images with different jpeg-compression? I believe many people who often work with jpeg will have this question.
When someone made changes in the image in programs like Photoshop or Gimp and save image as jpg file, s/he needs to choose the compression level (good quality and large file weight or visa versa, from 0 to 100%). The compression algorithm makes

[2019-11-10 08:32] romankh3 commented on #138
Hello, Olga!
I think this is a good idea. I'll do it.

Best regards,
Roman.

[2019-11-12 05:17] romankh3 opened #139 "[IMPROVEMENT] Add gitter to the project."
** Describe your idea of the improvement **

[2019-11-15 06:33] romankh3 opened #140 "[IMPROVEMENT] add own RuntimeException instead of IOException"
** Describe your idea of the improvement **

[2019-11-16 16:42] romankh3 opened #142 "[IMPROVEMENT] Move creating tests to JUnit5"
** Describe your idea of the improvement **
It's a good idea to use a modern solution for unit testing.

[2019-11-21 14:16] akondas commented on #138
Hello @romankh3
Do you have any idea how to implement this yet?

[2019-11-21 15:00] romankh3 commented on #138
hello, @akondas.
I haven't thought about it yet.
is it important for you?

[2019-11-21 16:11] akondas commented on #138
Possibly, but more out of curiosity. Because I'm wondering how to deal with
it technically.

czw., 21 lis 2019, 16:00 użytkownik Roman Beskrovnyi <
notifications@github.com> napisał:

[2019-11-21 16:56] romankh3 commented on #138
I’m sure that based on pictures we can research it. Don’t hesitate to contribute if you want.

[2019-11-21 19:47] romankh3 opened #143 "[IMPROVEMENT] refactor drawRectangles() method due to SRP."
It looks like there are some issues with the SRP here. This class is a swiss-knife, a multi-tool. It not only compares the images but also draws rectangles and does a lot of other stuff.

_Originally posted by @xSAVIKx in https://github.com/romankh3/image-comparison/pull/141_

[2019-11-21 19:48] romankh3 opened #144 "[IMPROVEMENT] Remove comman line usage from Image-comparison"
I'm going to remove commandLine usage as useless.

_Originally posted by @romankh3 in https://github.com/romankh3/image-comparison/pull/141_

[2019-11-21 19:54] romankh3 opened #145 "[IMPROVEMENT] update tests to JUnit5"
That's super weird stuff. If you actually want to verify the exception — catch it and check the content. It's not `Spock` and such ugly hacks will not it make like `Spock`.

There 2 ways I'd recommend:
1. migrate all tests to Spock and be happy.
2. migrate to jUnit5 and write tests in a way the framework proposes. I'd also recommend trying the `Truth` library.

_Originally posted by @xSAVIKx in ht

[2019-11-21 20:24] #142 closed

[2019-11-21 20:25] #139 closed

[2019-11-22 18:39] akondas commented on #138
In my opinion, `pixelToleranceLevel` param can handle this problem pretty good. For example: `0.1`

[2019-11-22 22:38] romankh3 commented on #138
I thinks so, too. Nevertheless it must be double checked

[2019-11-23 08:54] Hexronimo commented on #138
It really depends on the algorithm used to search for difference, it's quite possible that it will handle compression without any additional code.
I can't run it (from.sh) to make test because it seems something wrong with my gradle, it says "Could not determine java version from '11.0.2'", I usually use maven and not particularly familiar with using gradlew.

[2019-11-23 19:48] romankh3 commented on #138
@Hexronimo, @akondas, at the first look I want to say, that `pixeltoleranceLevel` helped with it.
next tests
[code]

pairs:
| pixelOfToleranceLevel | ComparsionState |
| 0.1 | MISMATCH |
| 0.2 | MISMATCH |
| 0.3 | MISMATCH |
| **0.32** | **MATCH** |

[2019-11-24 09:31] Hexronimo commented on #138
[test jpeg with compression.pdf](https://github.com/romankh3/image-comparison/files/3883389/test.jpeg.with.compression.pdf)
Here I tested it for you.
Result:
for big images 0.3 tolerance + 100-60%quality -> stable result

[2019-11-24 19:29] romankh3 commented on #138
That's really great research. Thanks, @Hexronimo!

[2019-11-29 10:50] #144 closed

[2019-11-29 10:50] romankh3 commented on #102
outdated due to the fact, that this functionality has been removed from the `image-comparison`.

[2019-11-29 10:50] #102 closed

[2019-11-29 12:16] romankh3 commented on #138
@Hexronimo, thanks for your research. I have added [Wiki-page](https://github.com/romankh3/image-comparison/wiki/Image-Comparison-with-Image-compression) with it.
My article(https://habr.com/ru/post/475482/) can be updated! I think, that this a great example of an open-source community and contribution.

Best regards,
Roman.

[2019-11-29 12:16] #138 closed

[2019-11-29 12:38] romankh3 opened #148 "[IMPROVEMENT] use java.awt.Point and remove own one."
** Describe your idea of the improvement **

[2019-12-02 12:27] akondas commented on #17
This problem still exists for larger images, open a new issue or paste sample data here?

[2019-12-02 13:13] romankh3 commented on #17
@akondas, Please, create a new issue with all the details and test images.

[2019-12-02 13:45] #148 closed

[2019-12-02 13:46] #140 closed

[2019-12-03 19:17] romankh3 opened #151 "[IMPROVEMENT] Move to Apache License"
** Describe your idea of the improvement **
Due to the reason, that this project became more than the test task, I'd like to move the licence to the next level.

[2019-12-05 13:49] mw79 opened #152 "[IMPROVEMENT] Optimize the isDifferentPixels method"
isDifferentPixels method could be optimized. We could precalculate Math.pow(differenceConstant * pixelToleranceLevel, 2) and use this value in comparison with sum of squares of color distances. Whan we will use this method for comparison of thousands of pixels this would be more optimal.

[2019-12-05 13:58] romankh3 commented on #152
Good point, @mw79!
Thanks for your catch.
Are you going to implement it?

[2019-12-05 14:14] mw79 opened #153 "[IMPROVEMENT] Investigate performance improvement with image format conversion (BMP or other)"
If we convert image to some format as like BMP maybe it could increase performance because we could get RGB as bytes and we could exclude binary operations from isDifferentPixels method.

[2019-12-07 18:55] romankh3 opened #154 "[IMPROVEMENT] Move publishing via pom.xml"
** Describe your idea of the improvement **
Due to the reason, that GitHub supports pom.xml, but doesn't build.gradle, `image-comparison` must be moved to Maven and pom.xml

[2019-12-09 07:58] #151 closed

[2019-12-09 08:58] #152 closed

[2019-12-09 09:42] #143 closed

[2019-12-09 12:09] MrMisterG commented on #119
I think this issue means, upon the first found different pixel, the compare-pixel loop is exited and comparisonState gets changed to MISMATCH. Maybe then it's faster.

[2019-12-09 12:41] romankh3 commented on #119
you're right. That's the idea

[2019-12-25 14:14] mboullouz opened #161 "Question: identical image detection with tolerance"
Is there a  way to check if 2 images has some differences ?
we would like to ignore alerting if is there few differences between 2 images.
something like bellow would do it ?
`boolean isSameImgsWith8Dot5PercentTolerance = imageComparisonResult.getDifferencePercent() <8.5 ; `
We are in the process of evaluating tools for our QA process,
Thank you for your help

[2019-12-25 17:20] romankh3 commented on #161
Hello @mboullouz. Thanks for your interest in `image-comparison`
Tell me please, What do you mean in `some differences`?

`image-comparison` has many configurations for comparing, such as:
*  ignore areas from comparison
*  set minimal rectangle size for differences
*  set pixel tolerance level to pass or not almost the same pixels.
*  set maximal rectangle count

[code]

Best regards,
Roman.

[2020-01-03 06:35] romankh3 opened #162 "[IMPROVEMENT] Improve test named based on BDD."
** Describe your idea of the improvement **
The idea is to update the test's names based on BDD, e.g.:
`testMaximalRectangleCount` -> `shouldCheckMaximalRectangleCount`

[2020-01-04 08:38] JohannBlake opened #163 "[FEATURE] Create greyscale image before drawing rectangles"
To make it easier to see all the rectangles, it would be nice if you could add a feature that firsts converts the image into a greyscale and possibly even apply an alpha to make the image slightly transparent. When you draw the red rectangles on top of this greyscale, it will be very easy to quickly locate the rectangles.

[2020-01-05 10:07] romankh3 commented on #163
Hi, @JohannBlake.
Is it useful for someone? I want you to understand, that the existing flow of comparing would be changed.

Best regards,
Roman.

[2020-01-05 17:39] MrMisterG commented on #163
Just my 2 cents @JohannBlake
- Workaround: Increase rectangleLineWidth. (I think I set 3 or 4 here and like the results)
- Additional or alternative idea: Configure square colours (default stays red).
:)
Stuart

[2020-01-10 08:26] Hexronimo commented on #154
+1 for this one. Your Gradle projects don't even work on my machine without spending some time on StackOverflow trying to remember why this error happen (без танцев с бубном в общем).

[2020-01-10 08:52] romankh3 commented on #154
I spent a few days to research of how to publish to Maven Central and jCenter via bintray and didn't found the full solution. that's why it was moved to backlog and I don't know where I would do it.

Please, describe your problem with Gradle. I merged a new Gradle version, maybe it relates to your problem.

[2020-01-10 09:08] Hexronimo commented on #154
Yes, I believe it's related to Gradle version, I will check it in the evening. I'm not very familiar with the Gradle, because I use only Maven in my projects, so I'm not even sure that error is on your side, maybe it's in my workspace configuration. At least from what I see now, IntelliJ says "Deprecated Gradle features were used in this build, making it incompatible with Gradle 7.0.". But I still

[2020-01-10 09:24] romankh3 commented on #154
Can you fix typos? As I can see, you've been forked `image-comparison`)

[2020-01-10 10:16] Hexronimo commented on #154
Ok, I'll do everything at the evening or if I'll have free time at work.

[2020-01-10 10:27] romankh3 commented on #154
thanks!

[2020-01-10 21:05] Hexronimo commented on #154
I'm trying to run and check it quickly, but got RuntimeException:
`Exception in thread "main" java.lang.IllegalArgumentException: -8
	at java.base/java.util.stream.ReferencePipeline.skip(ReferencePipeline.java:476)
	at com.github.romankh3.image.comparison.ImageComparison.drawRectanglesOfDifferences(ImageComparison.java:358) (...)`
so it's somewhere on ".skip" in:
`rectanglesForDraw = rectangles.st

[2020-01-11 04:30] romankh3 commented on #154
Finally, I've got what are you talking about! This `Example` from README is shown how to use, not for running it... I'll update it to make it runnable.

Thanks for your catch. Also, you can create a Bug issue to track it.

Best regards,
Roman.

[2020-01-11 08:38] Hexronimo commented on #154
Well, I understand that you want to show public methods and constructors in this Example.class (and I said that it's from readme in the comment above), but it actually can be used to copy-paste code and quickly see the result of this program work (I just commented unwanted constructors and renamed result.png to an actual path).

[2020-01-11 09:25] Hexronimo opened #165 "Exception when maximalRectangleCount is bigger than rectangles.size() [BUG]"
When you set some wanted number of rectangles with `imageComparison.setMaximalRectangleCount(10);` (other then -1) and the comparing found fewer rectangles than this number, you got java.lang.IllegalArgumentException: -3 at
ImageComparison.java:359 because in

           ` rectanglesForDraw = rectangles.stream()

                    .sorted(Comparator.comparing(Rectangle::size))

[2020-01-11 15:16] #165 closed

[2020-01-11 15:17] romankh3 commented on #165
@Hexronimo, thanks for your catch. The bug will be published ASAP.

Best regards,
Roman.

[2020-01-11 15:57] #145 closed

[2020-01-11 16:21] romankh3 commented on #165
the new release has been published.

[2020-01-14 12:20] MrMisterG opened #167 "[IMPROVEMENT] fill excluded rectangles with transparent green"
I add many excluded areas to my images and find it very useful that they appear as green rectangles on the results image.
I often need to define long exclusions along edges of the image. In those cases, looking at the resulting image, it is not easy to determine which areas have been excluded, partly due to the fact that the green lines along the edges are cropped out of the picture.

It would be

[2020-01-14 12:39] romankh3 commented on #167
Hi, @MrMisterG.
I think, that this is a good idea and it can be added to `image-comparison`.
For this time, I don't have enough time to do it. Due to this fact, I can suggest you do it if you want it.
We can discuss the details of the implementation here.

Best regards,
Roman.

[2020-01-14 15:58] romankh3 commented on #167
All the changes must be backward-compatible with previous versions.

So we can add method with these configurations(boolean fillFullRectangle, double persentOfOpaque)

I think, that the colors must stay as-is.

These changes can be applied to the main rectangles, too.

[2020-01-16 15:14] MrMisterG commented on #167
Hello @romankh3
So far I have written the new setter method `setRectangleProperties(Boolean fillRectangles, Double percentOpacity)`
Ok like this?
Also, do you also expect getters for the new configuration properties?
BR
Stuart

[2020-01-16 16:01] romankh3 commented on #167
Hello @MrMisterG
We need to create at least two methods for excluded and difference rectangles.

like it:
* `setExcludedRectangleFilling(boolean fillRectangles, double percentOpacity)` - add cofigurations for excluded areas(reactangles)
* `setRectangleFilling(boolean fillRectangles, double percentOpacity)` - add configuration for the rectangles of the differences.

BR
Roman

[2020-01-17 18:32] MrMisterG commented on #167
Hi @romankh3
I created a pull request... It is my first one to GitHub so I hope I did it correctly.
Please let me know if there is any issue.
BR
Stuart

[2020-01-19 11:06] romankh3 commented on #167
Hi @MrMisterG
I saw Pull-Request. You did very well!
I added minor comment, please, resolve it.

BR
Roman

[2020-01-19 16:22] MrMisterG commented on #167
Thanks! :) I updated it

[2020-01-19 19:13] #167 closed

[2020-01-19 19:14] romankh3 commented on #167
@MrMisterG Thanks for your contributions!

[2020-02-07 09:08] bestworkerr opened #170 "[IMPROVEMENT] set up policy"
** Describe your idea of the improvement **
If you go to `Security ` -> `Policy` we can see, that can be set up a privacy policy to securely report security vulnerabilities for your project.

[2020-02-10 20:46] #170 closed

[2020-03-05 07:26] romankh3 commented on #163
@JohannBlake, I close the issue.
If you have any questions\suggestions - create a new issue.

Best regards,
Roman.

[2020-03-05 07:26] #163 closed

[2020-03-05 07:29] romankh3 commented on #161
@mboullouz, I close the issue.
If you have any other questions\suggestions - please, create a new issue.

Best regards,
Roman

[2020-03-05 07:29] #161 closed

[2020-03-05 07:36] romankh3 commented on #153
@mw79, hi.
I'm going to start a new development process for 4.2.0 version.

Are you going to implement it?

Best regards,
Roman.

[2020-03-06 06:29] jeffradom opened #171 "[QUESTION] Get result of image comparison using Java"
I've carefully checked your demo sample code but it's not clear how programmatically check if the result of comparison true or false?  Please, let me know.

Thanks a lot in advance

Jeff

[2020-03-06 06:58] romankh3 commented on #171
hello @jeffradom.
The result of the comparison is [ImageComparisonResult](https://github.com/romankh3/image-comparison/blob/master/src/main/java/com/github/romankh3/image/comparison/model/ImageComparisonResult.java), which comtains [ImageComparisonState](https://github.com/romankh3/image-comparison/blob/master/src/main/java/com/github/romankh3/image/comparison/model/ImageComparisonState.java). Thi

[2020-03-07 20:00] jeffradom commented on #171
Great, that helps.  Now how can I set exclusion rectangles?  I wasn't able to find any code examples>  Please, let me know.

Thanks a lot in advance

Jeff

[2020-03-07 20:30] romankh3 opened #172 "[IMPROVEMENT] Add wiki-page for explaining how excluded areas work"
how can I set exclusion rectangles? What measures can I use (mm, pixels, etc)?  Can I somehow use your tool to compare the same web pages but in different languages for localization testing automation?   I wasn't able to find any code examples>  Please, let me know.

Thanks a lot in advance

Jeff

_Originally posted by @jeffradom in https://github.com/romankh3/image-comparison/issues/171#issuecomm

[2020-03-07 20:33] romankh3 commented on #171
`image-comparison` checks the pixels for getting the difference. That's why if we put images with different sizes it won't work.
`image-comparison` requires images to be the same sizes.

You can use excluded areas to exclude some parts from the comparison.

Excluded areas set as rectangles in pixels.

For example, here is the test, which shows how excluded areas work:
[code]

all the other tests,

[2020-03-07 20:44] jeffradom commented on #171
I see.  So, ist it like Rectangle(x1, y1, x2, y2)?  Can I have several exclusion rectangles? Can you suggest any Mac OS-based tools to get those measurements?  BTW, I had interviewed several guys from Kharkov a few years ago when had worked for Oracle.  And I myself left USSR 30 years ago and now live in San Francisco area.  Was many times in Ukraine in late '80s for business
Oh, I also met Epam C

[2020-03-07 20:58] jeffradom commented on #171
Oh, How can I have input image files and result image file from/to a folder of my choice?  Can use other than PNG formats?

[2020-03-08 05:49] romankh3 commented on #171
It’s so interesting! As we like to say that the world is not so big as can think.

Yes, you can add more than one rectangle.

I don’t know tools for it... it’s also a good point to add to wiki-page.

You tested also JPEG format. Image-comparison using BufferedImage object for comparing, so I think that it’s not so important in which format images. But I’m not sure about it.

Best regards,
Roman.

[2020-03-08 05:55] romankh3 opened #173 "[IMPROVEMENT] FAQ wiki page"
** Describe your idea of the improvement **
Due to the fact, that exist a lot of questions about using image comparison, I’d like to add wiki page for it.

[2020-03-08 07:40] jeffradom commented on #171
Oh, How can I have input image files and result image file from/to a folder of my choice?

[2020-03-08 11:38] romankh3 commented on #171
comparison result can be store as a png file to a folder, which is set to `destination` property.

here is descriptions of the properties. which are available for `ImageComparison` object:
https://github.com/romankh3/image-comparison#configurations

Best regards,
Roman.

[2020-03-08 15:02] jeffradom commented on #171
sorry, i didn't.  Ca input files be located for example "abc/Resouces/image_files/ folder".  Please, clarify.

Thanks

Jeff

[2020-03-08 15:19] romankh3 commented on #171
That's ok. Here is an example of using destination for comparing:

[code]

as a result, `result.png` would save in the root test folder. Also, you can specify relative or absolute path for it. In destination, you need to add an image name, too.

Best regards,
Roman.

[2020-03-08 15:29] romankh3 opened #174 "[IMPROVEMENT] add load tests to the project"
** Describe your idea of the improvement **
Due to the fact, that in this version would add `simpleComparison` method, it would be really good if we create load tests to see the difference between `compareImages()` and `simpleComparison()` methods.

[2020-03-08 16:35] jeffradom commented on #171
I meant something like BufferedImage expected = readImageFromResources("abc/xyz/expected.png");

[2020-03-08 18:02] romankh3 commented on #171
I got it. Of course, you can. You wrote the right way to do it. BTW, it doesn't matter how you create `BufferedImage` object. You can use the wrapper from `ImageComparisonUtil` or use directly `ImageIO.read()` method instead.

Can you describe your use-case? I'd like to know about it.

Best regards,
Roman.

[2020-03-08 18:26] jeffradom commented on #171
Cool.  I'll try and let you know in case I'll have an issue.

Thanks a lot again

Jeff

[2020-03-08 18:58] jeffradom commented on #171
Cool.  It has worked.  Now I did this setPixelToleranceLevel(0.9).  Does it mean that if I have 2 images very different then the comparison will return me MATCH because it din't.  Please, advise

Thanks

Jeff

[2020-03-08 19:01] romankh3 commented on #171
yeah, you're right.
0.9 means, if two images have less than 90% difference, the result would MATCH.

By default, it's 0.1, which means, that two images must be more than 10% difference between them.

Best regards,
Roman

[2020-03-08 19:13] jeffradom commented on #171
well, I did set it to 90% but still see MISMATCH.  It doesn't seem correct to me

[2020-03-08 19:14] jeffradom commented on #171
this is my code
        //Create ImageComparison object for it.
        ImageComparison imageComparison = new ImageComparison( expectedImage, actualImage, resultDestination )
        .setExcludedAreas(excludedAreas)
        .setDrawExcludedRectangles(true)
        .setRectangleLineWidth(3)
        .setPixelToleranceLevel(0.9);

[2020-03-08 23:48] jeffradom commented on #171
My Images are

![expected](https://user-images.githubusercontent.com/2372211/76173409-98671780-615c-11ea-92b0-243b8aaf92f4.png)
![actual](https://user-images.githubusercontent.com/2372211/76173410-98ffae00-615c-11ea-891b-eb636e5aef7f.png)

[2020-03-08 23:49] jeffradom commented on #171
and the settings above returns MICMATCH.  I'd expect MATCH

[2020-03-09 03:26] jeffradom commented on #171
this might be a bug but I'm not sure if I might miss something though

[2020-03-09 07:45] romankh3 commented on #171
are you sure, that you properly add excluded areas? I think excluded areas right point.
I'd like you to remove `.setPixelToleranceLevel(0.9);` it won't help you with your goal.

[2020-03-09 07:54] romankh3 commented on #171
Based on your data, I've written test for it:
[code]

it works as expected.

[2020-03-09 08:05] romankh3 commented on #171
the result image
![result171](https://user-images.githubusercontent.com/16310793/76193812-7f5a7700-61ed-11ea-9629-0481f747dba2.png)

[2020-03-09 18:54] jradom commented on #171
Hi Roman,

Actually, I meant how to set comparison precision like 30% in my case and make images MATCH without any exclusions(like only few pixels differences).  Please, advise.

Thanks

Jeff

[2020-03-09 19:19] romankh3 commented on #171
I don't think that it could be performed by existing options. Pixel tolerance sets the level of difference for all the pixels.
the library doesn't have the ability to skip first n pixels.

You can use the options `minimalRectangleSize`.

Best regards,
Roman.

[2020-03-09 20:34] jradom commented on #171
I think, you didn't get it.  What if I want compare images but want to make both MATCH if difference are very minor (only 10% or less).  Is it possible?  Otherwise you'll have false negatives/positives?

[2020-03-09 21:36] jradom commented on #171
and I don't want exclude anything for now

[2020-03-10 01:31] jradom commented on #171
I'm not sure how can I use the above property for my as a workaround?  I really need a kinda way to make MATCH in case of few pixels difference.  Any ideas?

[2020-03-10 06:13] romankh3 commented on #171
For now I don’t have any ideas.

[2020-03-10 14:28] jeffradom commented on #171
I have experimented with .setPixelToleranceLevel(0.5) and that allowed me to make slightly different images to MATCH.  But I didn't really understand what setPixelToleranceLevel means and how it works.  Please, explain

Thanks

Jeff

[2020-03-10 19:49] romankh3 commented on #171
`image-comparison` compares each pixel of the images and in this comparison using `pixelToleranceLevel` for each pixel.

Best regards,
Roman

[2020-03-10 20:16] jradom commented on #171
I see but what will  .setPixelToleranceLevel(0.5) mean and why unmatched before images started to match.  If instead 0of 0.r )'ll put 0.4 slightly different images will return NOMATCH.  Why?  I'm really curious

Thanks

Jeff

[2020-03-10 20:44] romankh3 commented on #171
I got it.
0.4 =>must more than 40% difference of the pixels to set MISMATCH
0.5 =>must more than 50% difference of the pixels to set MISMATCH

the higher pixelToleranceLevel, the bigger pixels match.

It means, that if pixelTolarenceLevel equals 1, then all the pixels are matched.

Best regards,
Roman.

[2020-03-11 02:10] jradom commented on #171
that means it might be a bug then

[2020-03-11 02:11] jradom commented on #171
![output](https://user-images.githubusercontent.com/20550461/76375376-e4ec5780-6302-11ea-9e2d-b1d688755282.png)
![input](https://user-images.githubusercontent.com/20550461/76375385-e61d8480-6302-11ea-97cc-31b07c02b2f8.png)

[2020-03-11 02:13] jradom commented on #171
![input](https://user-images.githubusercontent.com/20550461/76375505-3b599600-6303-11ea-8fd2-22da46429257.png)

[2020-03-11 02:14] jradom commented on #171
the above is the expected image file

[2020-03-11 02:14] jradom commented on #171
![output](https://user-images.githubusercontent.com/20550461/76375568-647a2680-6303-11ea-8a50-225da80e665b.png)

[2020-03-11 02:16] jradom commented on #171
I doubt that difference ir 50% +
And what do you think?
I think it's 1% max difference

[2020-03-11 08:01] romankh3 commented on #171
Maybe my previous explanation wasn't so clear or I used in the wrong way English.

Let's do it again:
we have two images with the same sizes.
the algorithm gets the first pixel from image1 and the first pixel from image2.
Let's name them pixelImage1 and pixelImage2.

PixelToleranceLevel using in comparing pixelImage1 and pixelImage2.
PixelTolaranceLevel doesn't use for the whole count of differenc

[2020-03-11 08:11] jeffradom commented on #171
In other words, pixelTolarenceLevel has nothing to do with the precision of the comparison set, correct.  And there is no way to make what I try to achieve and no workaround, correct?  I'm using a similar library in terms of PDF file comparison and it has a way to set a threshold/precision way.  That way I can eliminate minor possible differences in PDF files.  A developer in Germany told me that

[2020-03-11 08:29] romankh3 commented on #171
I got your point. Without any updates, I don't know how to do it.
It can be added, but I'm not sure, that this is really important.

You can create a feature request issue with the description of the new feature, use cases where it can be helpful and I can add to the new release 4.2.0.

Best regards,
Roman.

[2020-03-11 10:51] MrMisterG commented on #171
Hello,
I think it is a good idea to have a counter for "found different pixels" and to define the accuracy of the image comparison in that way, by providing a percentage of allowed different pixels. So if the image has in total 1000000 pixels, and the accuracy is set to 1%, then the result will be MATCH even if 9999 pixels are different.
best,
Stuart

[2020-03-11 12:55] bestworkerr commented on #171
And my 2 cents.

I agree with @jeffradom and @MrMisterG, It could solve these cases and make library more options.

Also, due to this topic, I think, that documentation must be provided, too.

[2020-03-11 13:51] jeffradom commented on #171
I think that the above new feature should work exactly as @MrMisterG  has described

[2020-03-11 16:43] jeffradom commented on #171
when you'll have a chance to add this?  I'm very interested in the order we can use it.  Please, let me know

Thanks a lot in advance

Jeff

[2020-03-11 21:07] romankh3 commented on #171
I'll do it. I need some time for implementing it

[2020-03-11 21:13] romankh3 opened #175 "[FEATURE] add Allowing match result up to some percent of difference."
**Is your feature request related to a problem? Please describe.**
As a User, I want to have ability to say that images MATCH up to some percent of the pixels which are different.

**Describe the solution you'd like**
Provide a new variable as a configuration, which would take care of this feature.
It would be a `double` value from 0.0 to 100.0 as a percent threshold.

**Additional context**
This

[2020-03-11 21:32] romankh3 opened #178 "[IMPROVEMENT] Create development guidelines for preparing to release process"
** Describe your idea of the improvement **
Due to the fact, that there is no document for the release process, some issues/bugs can be created with it.

[2020-03-11 21:38] jeffradom commented on #171
Cool.  I Will patiently waiting...   Please give me a buzz when done.  Oh, do you want a link to PDFcompare library I had mentioned earlier? Please, let me know

Thanks again

Jeff

[2020-03-11 21:40] romankh3 commented on #175
implemented in 4.2.0 version

[2020-03-11 21:40] #175 closed

[2020-03-11 21:45] romankh3 commented on #171
@jeffradom, @jradom, @MrMisterG, @bestworkerr - the feature(#175) is implemented.

It could take some time to publish a new version to Maven Central.

new configuration variable: `allowingPercentOfDifferentPixels`.
Description: The percent of allowing pixels to be different to stay MATCH for comparison. E.g. percent of the pixels, which would ignore in comparison. Value can be from 0.0 to 100.00

[2020-03-11 21:49] romankh3 opened #179 "[IMPROVEMENT] Fix all the barges."
** Describe your idea of the improvement **
some of them don't work at all and need to be fixed.

[2020-03-12 00:42] jeffradom commented on #171
Hi Roman,

man, you rock :)
I'll test it once it'll be available.  I greatly appreciate your quick response.

Thanks a lot (Spasibo/Dyakuyu :) )

Jeff

[2020-03-12 03:35] jeffradom commented on #171
Hi Roman,

I did check your new feature which was available in Maven library.  It did work great with sample images I have.  But I'll need to test that with real screenshots of our app pages.  BTW, how can I if possible to borderlines of unmatched sections other than Red?  Please, let me know

Tanks

Jeff

[2020-03-12 08:03] romankh3 commented on #171
For now colors for rectangles are hard coded:
- red for unmatched areas
- green for excluded areas

It was logically for me. Why do you need it?

[2020-03-14 05:55] #171 closed

[2020-03-16 14:57] romankh3 commented on #171
Hi @jeffradom.
Have you tested new version on your production cases?

Best regards,
Roman

[2020-03-31 17:29] mrgoroua opened #180 "new ImageComparison constructor is unable find image"
following  code:

[code]

fails with an error:

[code]

while file really exists

see test example

![image](https://user-images.githubusercontent.com/14112575/78057004-b0fad400-738e-11ea-9c2b-0e9215774782.png)

[2020-03-31 17:31] romankh3 commented on #180
I’ll see it, thank you for your catch.

[2020-04-13 04:50] jeffradom opened #181 "[QUESTION]comparing images made on different laptops with different resolutions"
Hello Roman,

Let's say we use Selenium/Java/Chrome to create baseline images on a 15-inch Macbook and create actual Chrome pages screenshots on 13-inch Macbook.  So, even I set browser size the same for example 1024x768 on both images/both laptops look a different size.  Can you please, suggest any possible workaround?

Thanks a lot in advance

Jeff

[2020-04-13 12:36] romankh3 commented on #181
Hello Jeff.
As far as I remember 13" and 15" have different sizes, so screenshots would be with different sizes.
this library doesn't support the ability to compare images with different sizes.

Does MacBook support the same screen resolution for 13" and 15"?

Best regards,
Roman

[2020-04-15 07:13] Zyronath commented on #180
Is there a way to work aroung this? I keep having this issue.
![bug](https://user-images.githubusercontent.com/14099228/79308645-42268a80-7ef9-11ea-8fff-c4ea20e4ee18.png)

[2020-04-15 07:29] romankh3 commented on #180
Hello, @Zyronath.
There are a few ways to handle it:
1. I found that this bug reproduces in the case when pictures are in the root dir of the project. If you put them into resources, it must work. I used the same way for testing an app and my images in `src/test/resources` dir.
2. Use another constructor with `BufferedImage` objects instead.
3. Use '3.2.0' version instead.
4. Contribute to the pro

[2020-04-17 16:25] #181 closed

[2020-04-17 17:22] romankh3 commented on #180
Hello@mrgoroua, @Zyronath.

This bug is successfully fixed in `4.2.1` version.

It takes some time to publish new release to Maven Central and JCenter.

Best regards,
Roman.

[2020-04-17 17:22] #180 closed

[2020-04-17 18:25] #162 closed

[2020-05-08 03:39] inviul opened #186 "[BUG]Can't get difference image"
I am two versions of images, one is the baseline and another one is the actual where some changes are happening. This tool is not able to identify the changes, hence, not able to generate the difference image. Match state is coming in return.

Please help and thanks for this wonderful tool. Resolving the above issue will make it stronger.

[2020-05-08 04:33] romankh3 commented on #186
Hello, @inviul.
Are you sure, that this is a bug?
As far as I understand, you speak about new behavior, right?

If it's really bug, please, provide test images for reproducing it.

if it's new behavior, let's discuss it in a proper issue topic.
Best regards,
Roman.

[2020-05-08 07:11] MrMisterG commented on #186
@inviul Maybe you have setPixelToleranceLevel too high?

[2020-06-03 18:42] romankh3 commented on #186
There was no enough info about the bug, so I Close the issue due to timeout.

[2020-06-03 18:42] #186 closed

[2020-06-19 05:55] jradom opened #187 "problem measuring exclusion areas"
Hi Roman,

I'm trying to define several exclusion areas on Mac using some third-party tools but always miss and use trial and error method.  Or your calculations are somehow depending on resolution, etc.  I can still do it but it's a very time-consuming process.  Can you suggest a good and easy way to get coordinates using Mac?  I also plan to move my tests to Jenkins where I have no idea how to g

[2020-06-23 15:06] romankh3 commented on #187
Hi @jradom.
I'm not sure, that I can help you due to several reasons. I'm not a professional mac user...
If you find the solution - please share it here.

Best regards,
Roman.

[2020-07-15 08:06] romankh3 commented on #187
@jradom if you have ideas, please open a new issue with it.

[2020-07-15 08:06] #187 closed

[2020-08-10 15:55] dmiroshnyk opened #189 "[QUESTION] getDifferencePercent meaning"
Hi @romankh3 !
Could you please clarify how the differencePercent is calculated?
I compare these 2 images:
![SNAPSHOT_10-08-2020_18_42_24](https://user-images.githubusercontent.com/68236709/89802727-8853c980-db3a-11ea-8b6d-2d2293a3973d.jpg)
and
![SNAPSHOT_10-08-2020_18_42_31](https://user-images.githubusercontent.com/68236709/89802730-8984f680-db3a-11ea-8f9a-09f2b862f5a8.jpg)
and got the result:
!

[2020-08-11 09:02] romankh3 commented on #189
Hello @dmiroshnyk,
Could you please provide full java code to ensure that I understood you correctly?

[2020-08-11 09:05] dmiroshnyk commented on #189
`      BufferedImage expectedImage = ImageComparisonUtil.readImageFromResources(expectedImagePath);
      BufferedImage actualImage = ImageComparisonUtil.readImageFromResources(actualImagePath);
      File resultDestination = new File(resultFilePath);
      ImageComparison imageComparison = new ImageComparison(expectedImage, actualImage, resultDestination);
      imageComparison = setupComparison(

[2020-08-11 09:08] romankh3 commented on #189
Please, provide `setupComparison` method implementation.

[2020-08-11 09:09] dmiroshnyk commented on #189
It provides basic properties setup
`  private static ImageComparison setupComparison (ImageComparison comparison, int borderThreshold, float rgbThreshold, String[] excludedAreaCoordinates) {
    comparison.setThreshold(borderThreshold);
    comparison.setRectangleLineWidth(1);
    comparison.setDifferenceRectangleFilling(false, 20.0);
    comparison.setDrawExcludedRectangles(true);
    comparison.

[2020-08-11 16:12] romankh3 commented on #189
Hi @dmiroshnyk, I found what you're looking for.

To understand how it works, you can see this logic
[code]

For now, this logic is using in case, when we have SIZE_MISMATCH, that's why invalid image sizes this is not counting. From my perspective, this looks like a bug.

Do you really need it?

This is was added and maintained by the community and I haven't paid enough attention on it.

[2020-08-11 23:20] dmiroshnyk commented on #189
Hi @romankh3 ,

Thanks for digging into it!

In case it's easy to fix - yes, I will be very appreciated to have a new version with fix - this allows my tests to be more manageable. Could you please share the estimated time to fix if possible? This allows me to understand my plans.

I also have several questions regarding this:
1. So, the diff is calculated only when images has different size, righ

[2020-08-18 19:21] romankh3 commented on #189
It's not so hard, but I don't have enough time for it. As you can see, I answered after week.
1. no, the diff would be not 0.0 in case, when we have `ImageComparisonState.MISMATCH`
2. I got your point, but your idea doesn't help me. The main feature is to show place, where two images different. If you want to draw on image2, you can just switch arguments (img1, img2) to (img2, img1)
3. third - let

[2020-08-18 21:11] dmiroshnyk commented on #189
Hope you'll have time for this one day :)
Alternatively, I can try to fix this myself and make a pull.
1. Hmm... Maybe we have a misunderstanding there. I asked about how does it work now. In my first example, I have `ImageComparisonState.MISMATCH ` but 0.0 difference.
2. Why not? If you want to show diff - you have to take bigger dimensions as base ones. So you will definitely have the difference

[2020-08-18 21:13] dmiroshnyk opened #190 "[IMPROVEMENT] Diff between pixels"
*Moved from another issue*

Why diff between pixels is calculated like (pixel2RGB - pixel1RGB)? For example, we have pixel2 - white. Diff vs pixel1 depends on pixel1 RGB color. So, diff vs red pixel will be less than vs blue. I don't understand the reason of this. For example, if I convert my image with google and change all red colors to blue and ask to recalculate diff (let's imagine the bug is

[2020-08-24 05:49] jradom opened #191 "Questions about flaky comparison results"
Hello,

I use your tool and it had worked great for me until now.  Here Is my scenario.
I have an app that is going through an upgrade.

1. I make screenshots using Selenium for several pages and store them as baseline images (before the upgrade).
2. I run my app after the upgrade and make screenshots of the same pages
3. I compare on the fly each new and old/baseline pages and use .setAllowingPer

[2020-08-31 07:12] akondas opened #192 "[IMPROVEMENT] Include rectangles with difference in comparison results"
I propose to add to the results of the comparison the coordinates of the rectangles that differ (have been detected). I have already made the proposed code changes that will be in the PR.

[2020-08-31 07:19] romankh3 commented on #192
Hi @akondas,
Could you please provide cases in which you think that this is really needed?

[2020-08-31 07:24] akondas commented on #192
For example: after performing the first comparison, I would like to suggest to the user that the selected fields should be replaced with the excluded ones (he could choose which ones to stay and which not to). Another example is the collection of this data for statistical purposes.

[2020-08-31 07:29] romankh3 commented on #192
Ok, I will add it to the next release. Please, create a new pr to `development` branch.

[2020-08-31 07:32] romankh3 commented on #189
Hi @dmiroshnyk,
Always you can add your contributions.

1. as I mentioned before, this is the bug, that if `MISMATCH` we have getDifference = 0.0
4. mismatch is calculating when we have rectangles with differences. In some configurations, we can skip some rectangles(such as `maximalRectangleCount`, `minimalRectangleSize`).

To summarise, if you can - you can fix this bug with `getDifference()` for

[2020-08-31 07:38] romankh3 commented on #191
Hi @jradom,
Firstly, `setAllowingPercentOfDifferentPixels(10)` is a really powerful configuration, which was added for you (as I remember).

I'd suggest starting comparing without this config, it's for different MISMATCH and MATCH

If we speak about SIZE_MISMATCH - it's harder. Before say something I need to reproduce it. From my perspective, if you have this result, it means, that the screenshots

[2020-08-31 07:43] romankh3 commented on #192
merged to development branch and will added to next release,

[2020-08-31 07:43] #192 closed

[2020-08-31 07:47] akondas commented on #192
Thanks :beers:

[2020-09-01 04:55] jradom commented on #191
What does SIZE_MISMATCH actually mean?  Is it different size in bytes,
number of pixels, size in pixels?  Please, clarify.

Thanks

Jeff

On Mon, Aug 31, 2020 at 12:39 AM Roman Beskrovnyi <notifications@github.com>
wrote:

[2020-09-01 06:51] romankh3 commented on #191
`SIZE_MISMATCH` means, that the image sizes are different. For example:
image1 has 100x1000 pixels
image2 has 101x1000 pixels
In this case, would be `SIZE_MISMATCH`

Best regards,
Roman

[2020-09-01 19:33] jradom commented on #191
Now,  If images on the surface look identical but ill use some tool and
will resize a second one like
image1 has 100x1000 pixels
image2 has 100x1000 pixels

Will they match after resizing?  Please, let me know what you think. I use
Selenium screenshots programmatically to create baselines and actual images
currently.  Looks like it might has ome issue.  Do you a good tool which
allow to make relia

[2020-09-01 20:45] romankh3 commented on #191
I don't know for sure how selenium works, that's why I can't help with it.
Also, I'm not familiar with automation testing tools and approaches. I'm a developer, not qa engineer..
I wish I can help you...

[2020-09-01 20:51] jradom commented on #191
Actually my question was about resizing of a second image and then compare if that will work or not

Sent from my iPhone

[2020-09-08 09:55] romankh3 opened #196 "[BUG] Set 0.0 difference percent for MISMATCH"
**Describe the bug**
In case, when ImageComparsionState is MISMATCH, the persentDifferences is 0.0 in ImageComparisonState.

**To Reproduce**
1. get images with differences
2. compare them
3. get percent differences for image comparison result

[2020-09-08 10:45] romankh3 commented on #189
added it to `4.3.0` version

[2020-09-08 10:45] #189 closed

[2020-09-08 10:46] romankh3 commented on #192
@akondas, added in `4.3.0` version. It takes some time to publish to MavenCentral and jCenter.

[2020-09-08 10:48] #196 closed

[2020-09-08 10:48] #191 closed

[2020-09-09 05:00] jradom commented on #191
Hi Roman,

It looks like we are moving away from Java to Javascript/Typescript.  Can
you suggest a similar to your tool (it's really great) but which can be
used with Javascript/Typescript?  Please, let me know

Thanks

Jeff

On Tue, Sep 1, 2020 at 12:33 PM Jeff Radom <jradom@gmail.com> wrote:

[2020-11-05 06:06] jradom opened #199 "question about cli"
Hi Roman,

I'm very happy with your tool but we are moving towards Javascript/Typescript.  Is it possible for you to build a jar with parameters input?  So, I'll be able to invoke it from Typescript?  Please, let me know

Thanks

Jeff

[2020-11-05 08:42] romankh3 commented on #199
Hi, @jradom.
I think we can do it as a new repository, but I don't have enough time

[2020-11-10 09:09] jradom commented on #191
Roman,

I've just downloaded your Jar file but how can I run it, put parameters and output.  Like I said I plan to call CLI from Typrescript

Please, let me know

Thanks a lot in advance

Jeff

[2020-11-10 15:53] romankh3 commented on #191
Jeff,
This jar of image-comparison doesn't have **main** method to run as a jar.
For this purpose must be created the separated project with the main method with image-comparison as a dependency.

[2020-11-11 15:21] jradom commented on #191
If this is doable to make a jar work in a short time frame it’ll be great. Then, I’ll be able to continue using your great library

Sent from my iPhone

[2020-11-13 19:09] jradom commented on #191
Hi Roman,

Like I had said before we like your current tool and I plan to continue
using it with Typescript because of great features and results.  So, is it
a feasible time frame you can make CLI with parameters and output exit
values available.  Please, let me know if I should wait or just try
switching to some other tool.  (still prefer yours though).  Please, let me
know one way or another

Th

[2020-12-04 15:32] igorgiumellizup opened #200 "[QUESTION] how to tell if the comparison has no difference?"
Hey Roman Beskrovnyi,
how can I tell if after ```//After configuring the ImageComparison object, can be executed compare() method:
        val imageComparisonResult: ImageComparisonResult = imageComparison.compareImages()``` no difference was found? I only want to generate the result file when there is difference. And also for assertions matter, the code needs to know if there is any difference fo

[2020-12-04 16:41] romankh3 commented on #200
Hello, @igorgiumellizup.
Thanks for your interest in `image-comparison`.
I know, that the `README` may be better :)
For a better understanding of how `image-comparison` works, you can see the tests for it.
For example one of them:
[code]

it's a usual test, which checks [`ImageComparisonResult`](https://github.com/romankh3/image-comparison/blob/master/src/main/java/com/github/romankh3/image/compar

[2020-12-04 17:21] igorgiumellizup commented on #200
What's the API behind 'assertImagesEqual' ?
It would be more efficient not to create the resulting image when there's no difference

[2020-12-04 17:24] romankh3 commented on #200
`assertImagesEqual` just a private method in the test class.

It's not created a new result image in the case when they match. Just take one of them.

[2020-12-04 17:42] igorgiumellizup commented on #200
I noticed imageComparisonResult.getImageComparisonState() always returns MISMATCH regards if there's diference or not

[2020-12-07 06:38] #200 closed

[2020-12-07 07:27] jradom commented on #199
Hi Roman,

Does it mean that you don't have time and desire adding CLI capabilities?  Pleas, let me know one way or another

Thanks

Jeff

[2020-12-07 08:09] romankh3 commented on #199
Hi Jeff,
Yes, I don't have time for it.

From my perspective, it's easy to do, so you can do it.

Thanks,
Roman.

[2020-12-07 17:37] jradom commented on #199
Roman,

I’m sorry to hear that. Well, I’ll need to switch to some other tool then.

Thanks

Jeff

Sent from my iPhone

[2020-12-07 20:19] romankh3 commented on #199
You know. Project is not working without consumers.
Provide here functionality, which you’re using in library and I will create it.

[2020-12-08 02:52] jradom commented on #199
FYI, I really like and so is my management but there is a competition even in open source.  And the reason I can't easily do it because I'm not a real expert in such kind of tools.

Cheers (Spasibo)

Jeff

[2020-12-14 19:50] jradom commented on #199
Just a friendly reminder.  Did you have any chance to work on my request because I'll need to use some sort of Visual testing n my upcoming Typescript project?

Thanks in advance

Jeff

[2020-12-15 06:09] romankh3 commented on #199
As I understood, you decided to stop using library at all, didn’t you?
If not, provide options which you’re using in comparing. After that I will provide program.

[2020-12-15 06:39] jradom commented on #199
Hi Roman,

It's kinda funny and might be lost in translation or miscommunication.  This is what I wrote recently "FYI, I really like and so is my management but there is competition even in open source. And the reason I can't easily do it because I'm not a real expert in such kind of tools."  Again I do like your tools with all features and accuracy of it, etc.  And I have/had a plan to call it fr

[2020-12-15 06:41] jradom commented on #199
Oh, I think you were confused that I said if you not gonna do it I MIGHT need to switch to some other tool

[2020-12-15 09:16] romankh3 commented on #199
Ok, I think I can do it.

[2020-12-17 12:03] HoverCatz opened #201 "[BUG] mergeRectangles hangs"
**Describe the bug**
The program hangs forever.

**To Reproduce**
Steps to reproduce the behavior:
1. Download attached zip and extract the 2 image files anywhere.
[files.zip](https://github.com/romankh3/image-comparison/files/5709166/files.zip)
2. Run this code:

comparison.createMask(); // hangs forever

**Expected behavior**
Program should run and exit appropriately.

**Screenshots**
See attach

[2020-12-17 12:10] HoverCatz commented on #201
Not a permanent fix, not even close.
Just got this issue **again** somewhere else (2 other frames), it just hangs forever.
Damn thought I found a fix, my bad.
Still needs fixing.

[2020-12-17 13:26] romankh3 commented on #201
Hello, @HoverCatz.
Thanks for your contributions.
I will see what can I do with it.

Best regards,
Roman.

[2020-12-21 08:33] jradom commented on #199
Hi Roman,

Just following up.  Where are you standing with my request for CLI making?
Please, let me know

Thanks

Jeff

On Tue, Dec 15, 2020 at 1:16 AM Roman Beskrovnyi <notifications@github.com>
wrote:

[2021-03-01 09:52] romankh3 commented on #201
Hi @HoverCatz.
You know, it's totally different images. `image-comparison` doesn't use for it.

[2021-03-01 10:49] HoverCatz commented on #201
Yes ofc they are different. `image-comparison` should recognize this and **not hang** itself...

[2021-03-01 12:29] romankh3 commented on #201
I got it, thanks. We need to recognize it and stop comparing

[2021-03-01 12:30] HoverCatz commented on #201
Thank you! 🥇

[2021-03-13 19:22] romankh3 commented on #201
@HoverCatz, bug fixed in 4.3.1 version.
Thanks, that you found a bug, investigate the place in which the problem is and create a bug report with provided images.

If you have any ideas of how to improve `image-comparison` feel free to write me about it.

Best regards,
Roman.

[2021-03-13 19:22] #201 closed

[2021-03-18 13:56] Bohdan-Khylia opened #203 "[IMPROVEMENT] Compare images without size comparing or draw diff rectangles for images with diff size"
Hi Roman,
I have a problem with comparing images that have a little size mismatch. In that case I receive diff image equal to actual and without diff rectangles, but 2 images have a lot of mismatches. Can you add improvement with one more method of comparing images without size comparing or improve exist method with drawing diff rectangles for images, that have size mismatch?

[2021-03-18 14:03] romankh3 commented on #203
Hi @Bohdan-Khylia.
By this time, `image-comparison` has a configuration about rectangle size, line size. Please, read more in README.md.

If it won't help you - provide images with examples, I will check it.

[2021-03-18 15:48] Bohdan-Khylia commented on #203
I have 2 images: _actual_ and _expected_, this images have a little difference in width and if process of comparing this 2 images, rectangles are not adding to the result diff image, because of logic of the compare method.
![ac_constructor_text_field_advanced_panel_visual_screen](https://user-images.githubusercontent.com/61683509/111654825-c7a17180-8811-11eb-8928-944ff7fc541b.png)
![ex_constructor

[2021-03-18 18:02] romankh3 commented on #203
Unfortunately in this case you can not use it. The basic requirement for using image-comparison is to provide two images with the same width and height. Preparing images requires by library client.

[2021-03-19 07:38] Bohdan-Khylia commented on #203
I have found workaround. I make resize for actual image, if it has different size than expected and after compare 2 images.

[2021-03-19 08:12] romankh3 commented on #203
From my side it’s not a workaround. It’s a requirements before comparing images.

It’s good that you’ve found a solution for you.

[2021-03-19 08:12] #203 closed

[2021-03-25 06:49] woosyume opened #205 "[FEATURE] Client can change color of rectangle for difference / excluded part."
**Is your feature request related to a problem? Please describe.**
### What
As a new feature, I'm suggesting that client can set color for rectangles with the difference.
### Background
About my case,
When we release something, we run image comparison for before and after deployment.
It's job of internal automation app based on Selenium WebDriver.

But we sometime take time to find diff rectangle

[2021-03-25 07:19] woosyume commented on #205
Currently I'm working with this but don't have permission to push to working branch remotely.
Could you grant me?
@romankh3

[2021-03-25 07:34] romankh3 commented on #205
Hello @woosyume.
Thanks for your contributions.
In GitHub we're using **[The forking workflow](https://medium.com/dev-genius/git-forking-workflow-bbba0226d39c)** branching strategy to contribute to another repository.
In a nutshell, you need to fork `image-comparison`, make updates in the development branch and create pull-request to development branch in original `image-comparison` project.

[2021-03-25 09:11] woosyume commented on #205
I've created a pull request following the above rule.
Please kindly check it.
Regards,
Kim

[2021-03-28 18:32] romankh3 commented on #205
merged to the development branch.

[2021-03-28 20:08] romankh3 commented on #205
@woosyume thanks for your contribution to the `image-comparison` project.
Your updated added to the 4.4.0 version and can be retrieved.

thanks,
Roman.

[2021-03-28 20:08] #205 closed

[2021-03-29 19:20] romankh3 opened #208 "[FEATURE] move from bintray"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2021-04-16 22:14] HoverCatz commented on #201
I had a question! Is it possible to implement support to detect when 2 images are "almost" identical? For example randomized JPEG compression on the same image. The original images are the same, but the pixels aren't anymore thanks to compression. Hope you understand! 💯

[2021-04-17 05:11] romankh3 commented on #201
Hi, @HoverCatz.
I think this page can help you with you question: https://github.com/romankh3/image-comparison/wiki/Image-Comparison-with-Image-compression

[2021-04-19 20:07] dve opened #209 "[IMPROVEMENT] ImageComparisonResult#getRectangles should not return null"
`ImageComparisonResult.getRectangles()` should return an empty list instead of null in case of matching images.
This makes a null check before using the result obsolete.

[2021-04-22 17:03] romankh3 commented on #209
Hi @dve.
Thanks for your contributions.

[2021-04-22 17:04] #209 closed

[2021-06-22 20:34] carlosame opened #211 "[BUG] Different images are considered equal"
**Description**
I'm using this project as one of the image comparison methods being used in the [EchoSVG](https://github.com/css4j/echosvg) tests, and noticed that one of the tests that should fail was systematically passing. For example, the following two images are identical (match) according to this project (version 4.4.0):

![domSVGColor](https://user-images.githubusercontent.com/38894633/1229

[2021-06-23 05:37] romankh3 commented on #211
Hi @carlosame.
Thanks for opening a Bug. I will look at it and will respond you.

Also, feel free to do it by yourself if you want it.

Best regards, Roman.

[2021-09-20 13:16] carlosame commented on #211
I rolled out my project's own image comparisons, given that it was the most natural thing to do: EchoSVG is a fork of Apache Batik, which already had image comparisons (and even assembled diff and side-to-side comparison images). Batik's image comparisons were done at the file stream level though, which is why I introduced your project in EchoSVG.

Now EchoSVG does its own image comparisons at the

[2022-02-09 16:29] romankh3 opened #212 "[IMPROVEMENT] clean up metrics for repo"
Some of the metrics in repo are outdated and needs to be removed/updated.

[2022-02-11 08:14] pacioc193 opened #215 "[QUESTION] Treshold parameter"
Could be possible to explain which is the real working of treshold value?

I'm trying to compare this two image

![image](https://user-images.githubusercontent.com/3874577/153557640-ad227424-078b-409e-981b-c21e67bf8846.png)

I can't find some parameter that works always... Do you have any suggestion?

[2022-02-11 10:19] romankh3 commented on #215
Hi @pacioc193,
Threshold value - is a max distance between different pixels in one area. It means, that if we have the next area, which is far away on more than the threshold value, it would be selected as a new area of differences.

Did you create some GUI for somparing?

[2022-02-11 16:53] pacioc193 commented on #215
Yes,
I'm developing 6 positions real time status system.
In this system I must compare when a oil in water is separate and return to start situation ( left photo )

![image001](https://user-images.githubusercontent.com/3874577/153633849-90e2d094-ce60-4c54-a19f-4350fa938a9f.png)

Algo is working but not always good precision...

Any tips?

[2022-02-17 12:16] svccsotest10 opened #217 "[IMPROVEMENT] - Ignoring whitespaces and comparing only text and styling changes"
I wanted to compare only text and styling changes between images. How can i ignore whitespaces while comparing?

Background:

I am comparing two webpages. Both webpages are of same source just deployed on two environments - env1 and env2.

Now env1 renders page with little whitespace of two lines from top while env2 renders without it. I have automated the process and of taking screenshot of webpa

[2022-02-17 12:23] svccsotest10 commented on #217
![slide-1_ppt2](https://user-images.githubusercontent.com/88655452/154480792-24b166cf-4b09-47ba-86ee-12a5de285807.png)
![slide-1_ppt1](https://user-images.githubusercontent.com/88655452/154480862-1ffbb035-1f47-412f-926e-872798e93ed0.png)

Adding both the images.

slide-1_ppt1 has a linespace on top while slide-1_ppt2 does not. As a result I am getting whole content highlighted.

![result-1](https:

[2022-02-22 10:42] svccsotest10 opened #218 "[QUESTION]: How to ignore size_mismatch"
Is there a way to ignore size_mismatch state while doing comparisons?

[2022-03-20 07:30] adrian-herscu commented on #218
Maybe...?

[code]

[2022-04-18 07:02] Hannnnnnn404 commented on #174
Hi, Roman. I'm will to implement ```simpleComparison``` method mentioned in [#119 ](https://github.com/romankh3/image-comparison/issues/119) and create load tests for it.

[2022-04-18 11:28] romankh3 commented on #174
Hi. @Hannnnnnn404
That's good idea.

Do you have fully understanding of what needs to do?

Best regards,
Roman.

[2022-04-19 01:40] Hannnnnnn404 commented on #174
Yes，I think I can understand what you mean.
```simpleComparison()``` method is another kind of pattern without drawing rectangles with the differences. Once the first different pixel is found, ```simpleComparison()```  will return the ```ImageComparisonResult```. It will make it faster to compare image differences but there is no rectangles on the result. That's right?

Additionally, load tests ar

[2022-04-19 02:51] Cheese-Bar commented on #211
Hi, @romankh3 ,
I would like to work on this issues.

[2022-04-19 04:42] romankh3 commented on #211
Hi @Cheese-Bar, feel free to work on it. Wish you good luck 👍

[2022-04-19 04:44] romankh3 commented on #174
@Hannnnnnn404, yes, that’s right what I want.
wish you good luck 👍

[2022-04-19 07:36] Cheese-Bar commented on #211
Hello @romankh3 ,
I have reproduced this bug, and I thought I have located the problem. It may caused by  `isDifferentPixels(expected.getRGB(x, y), actual.getRGB(x, y))`. It failed to pick up on subtle changes in color and text in the two images. I also generate pure color picture to test it.

I found `isDifferentPixels()` function is related to variable `pixelToleranceLevel = 0.1`, so I try to ad

[2022-04-20 04:50] scp-WFZ commented on #217
@romankh3 Hi, I'd like to work on the issue.

[2022-04-23 02:20] C0deAlchem1st commented on #153
@romankh3 Hi, I'd like to work on the issue.

[2022-04-23 06:18] Cheese-Bar commented on #217
How about allowing the user to select to remove a single background for comparison. I mean, if the background has the same pixel, we can chose to ignore them and just compare the remaining part.

[2022-04-24 06:28] XianWeiZhou-01 commented on #132
Hi, @romankh3
I would like to work on this issue.
I want to use JUL (java.util.logging) to add a simple logging to this project, in which I will record the starts of key functions and thrown exceptions.

[2022-04-24 09:41] romankh3 commented on #132
Hi, @Xianwei-Zhou .
Feel free to do it.

[2022-04-29 05:19] niravsculptsoft opened #225 "NoClassDefFoundError Failed resolution of: Ljavax/imageio/ImageIO;"
Great worked but not work for me !! let me know if am i missing anything
I have implement this library as module and use in my main project and i got above error during app run
even i don't get BufferedImage in main project so this project is not workable please help

[2022-04-29 10:27] romankh3 commented on #225
Hello @niravsculptsoft, Looks like it is not a library issue.
Nevertheless.  provide images with which you've faced this error and I will try to figure it out.

Best regards,
Roman.

[2022-05-15 14:03] OkabeChristina opened #226 "[IMPROVEMENT] Allow it to draw rectangle with different color according to different ratio of different pixels."
** Describe your idea of the improvement **
Good work!
Maybe,  It is a good idea to allow it to draw rectangle with different color according to different ratio of different pixels. This will be very helpful in my project.

[2022-05-20 13:47] Cheese-Bar commented on #226
Hello~ I would like to work on this issue.

[2022-05-22 08:17] Hannnnnnn404 commented on #132
Hi, @romankh3 .
I would like to work on this issue to add logs.

[2022-05-24 05:56] scp-WFZ commented on #190
@romankh3  Hello~, I'd like to work on this issue.

[2022-05-24 13:43] scp-WFZ commented on #199
@romankh3 Hi, I'd like to work on the issue.

[2022-05-25 05:46] romankh3 commented on #199
@scp-WFZ hi, I had CLI in library in a past and removed it.

As you can see our dialoge above, it should be done in separated repository just because I want to save `image-comparison` as a library, not a product.

Feel free to do it in this repo: https://github.com/romankh3/image-comparison-cli

[2022-05-25 06:02] romankh3 opened #231 "[FEATURE] Move publishing from Bintray to Maven Central"
**Is your feature request related to a problem? Please describe.**
Just because Bintray closed publishing to JCenter

[2022-05-26 13:03] Aurora4396 opened #232 "[FEATURE] GUI for convenience"
Thanks for providing this comparison tool. BTW, I notice that in issue#215, pacioc193 creates GUI for his comparing.
FMPV, a concise and convenient GUI is what this tool needs at present. IT IS USEFUL, I NEED IT.

[2022-05-27 08:45] C0deAlchem1st commented on #232
Hello, I would like to work on this issue.

[2022-05-27 17:45] PeerHalvorsen opened #233 "[QUESTION] Difference Percentage Calculations Don't Match"
I'm trying to understand why `getDifferencePercent(BufferedImage img1, BufferedImage img2)` on line 138 of the ImageComparisonUtil class is returning a different result than the percent calculated in line 313 of the ImageComparison class.

The algorithm used to acquire the count of different pixels in `populateTheMatrixOfTheDifferences()` on line 234 seems to be similar to what's being done in `ge

[2022-08-12 03:30] huemach78 opened #235 "[FEATURE] Compare image with Structural Similarity Index (SSIM)"
Hi Roman

Thank you for providing the comparison tool. It's useful for our work.
besides that, Could you consider adding more comparison methods like SSIM (Structural Similarity Index)?

Reference
https://pyimagesearch.com/2017/06/19/image-difference-with-opencv-and-python/
https://stackoverflow.com/questions/71567315/how-to-get-the-ssim-comparison-score-between-two-images

[2022-10-18 11:08] Aasu29 opened #238 "Is there any support to android espresso/uiautomator, I tried but BufferedImage not supported in android"
tired other way to set images path but it does not support with makeDiff method. Is there any support for File path ?
error is Cannot resolve symbol 'BufferedImage'

[2022-10-18 11:23] Aasu29 commented on #238
if I use file as path then error: cannot access BufferedImage
        ImageComparisonResult imageComparisonResult = new ImageComparison(path1, path2).compareImages();

[2022-11-02 11:45] nikmazur commented on #233
I ran into the same issue when writing my own project: getDifferencePercent was returning an incorrect percentage. It seems that it was calculating the total number of different pixels incorrectly - instead of increasing an overall counter for each different pixel it was summing a long of differences from getRGB method.

Created a new pull request to fix this.

[2022-11-10 15:43] Areyana commented on #238
+ for this issue, AWT libraries can't be accessed in Android